<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You have favorited the below post. You will be notified of all comments on this post.</h1>
     <p>
       <%= link_to "Post", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>